@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Gowun+Dodum&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap');

.wrap {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


ol, ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.login-form {
    width: 400px;

}

.login-form h1 {
    font-size: 40px;
    color: rgb(229, 119, 175);
    font-family: 'Poor Story', cursive;
    font-weight: bold;
    margin-bottom: 40px;
}

.int-area {
    width: 340px;
}

.int-area input {
    width: 100%;
    padding: 17px 10px;
    border: none;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    font-size: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.btn-area {
    margin-top: 30px;
}

.btn-area button {
    margin-left: 18px;
    width: 367px;
    height: 50px;
    color: #333;
    background-color: rgb(236, 152, 195);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Gowun Dodum', sans-serif;
}

.caption {
    margin-top: 20px;
    display: flex;
}

.caption a {
    font-size: 15px;
    color: #444;
    font-family: 'Gowun Dodum', sans-serif;
}


